.transaction-table th, .transaction-table td {
    padding-right: 1rem;
}

.transaction-table tr:nth-child(even) td {
    background: lightgray;
}

.transaction-table__amount-cell {
    text-align: end;
}
